In [8]:
list=[1,2,3,4,5,6,7,8,9]

In [9]:
for num in list:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [10]:
for num in list:
    #Check for even no.
    if num%2==0:
        print(num)
    else:
        print(f'odd No:{num}')

odd No:1
2
odd No:3
4
odd No:5
6
odd No:7
8
odd No:9

In [11]:
li_sum=0

for num in list:
    li_sum=li_sum+ num
    
print(li_sum)

45

In [12]:
my_str="My name is don"

for letter in my_str:
    print(letter)

M
y

n
a
m
e

i
s

d
o
n

In [13]:
t=(1,2,3)

for item in t:
    print(t)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)

In [17]:
mylist=[(1,2),(2,4),(7,8)]

In [18]:
len(mylist)

3

In [20]:
for items in mylist:
    print(items)

(1, 2)
(2, 4)
(7, 8)

In [23]:
for a,b in mylist:

    print(a)

1
2
7

In [25]:
d={'k1':'Ram','k2':'Sita'}

for item in d.items():
    print(item)

('k1', 'Ram')
('k2', 'Sita')

In [27]:
for key,value in  d.items():
    print(key)

k1
k2